* {
    font-family: "montserrat",sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #333;
}

.login-box {
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: white;
}

.login-form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}

    .login-form h1 {
        font-weight: 400;
        margin-top: 0;
    }

.txtb {
    display: block;
    box-sizing: border-box;
    width: 240px;
    background: #ffffff28;
    border: 1px solid black;
    padding: 10px 20px;
    color: black;
    outline: none;
    margin: 10px auto;
    border-radius: 6px;
    text-align: center;
}

.login-btn {
    width: 240px;
    background: #2c3e50;
    border: 0;
    color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
}

.hide-login-btn {
    color: #000;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    font-size: 24px;
    opacity: .7;
}

.show-login-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    border: 2px solid;
    padding: 10px;
    cursor: pointer;
}

.showed {
    left: 0;
}

ul {
    list-style: none;
    padding-left: 0px;
}
